html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.ancho{
    max-width: 1200px;
    margin: auto;
  }

  header{
    background-color: #570e1b;
    height: 140px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
 header > div {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
 }

  h1{
    margin: 0;
    color: white;
    font-size: 40px;
  }

  .banner{
    background-image: url(../img/vishnu-mohanan-pfR18JNEMv8-unsplash-scaled.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .banner h2{
    margin: 0;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    padding: 2rem;
  }

  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
  }

  /* seccion equipo */
figure {
  display: inline;
  gap: 10px;
}
.logo {
  width: 100px;
}

  
footer {
  margin-top: 30px;
  height: 70px;
  background-color: #570e1b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  width: 70%;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  h1 {
    font-size: 35px;
  }
  .banner h2{
    margin: auto;
    font-size: 35px;
  }
}